<form class="form col-md-6" (ngSubmit)="register()" [formGroup]="userForm">
    <figure>
        <img src="assets/images/ponyall.jpg" />
    </figure>
    <fieldset>

        <!-- Form Name -->
        <legend>Subscribe</legend>

        <!-- Text input-->
        <div class="form-group">
            <label class="control-label" for="login">Login</label>
            <div class="">
                <input id="login" name="login" type="text" placeholder="login" class="form-control input-md" required="true" formControlName="login">
                <span class="help-block">INserts your damn login</span>
            </div>
            <div id="login-required-error" *ngIf="loginCtrl.hasError('required')">
                <p class="alert alert-danger">Your login should be required</p>
            </div>
            <div id="login-length-error" *ngIf="loginCtrl.hasError('minlength')">
                <p class="alert alert-danger">Your login should be at least 3 characters</p>
            </div>
        </div>
        <div formGroupName="passwordForm">
            <!-- Password input-->
            <div class="form-group">
                <label class="control-label" for="password">Password</label>
                <div class="">
                    <input id="password" name="password" type="password" placeholder="password" class="form-control input-md" required="true" formControlName="password">
                    <span class="help-block">Password super tough</span>
                </div>
            </div>
            <!-- Password input-->
            <div class="form-group">
                <label class="control-label" for="confirmPassword">Password</label>
                <div class="">
                    <input id="confirmPassword" name="confirmPassword" type="password" placeholder="confirmPassword" class="form-control input-md" required="true" formControlName="confirmPassword">
                    <span class="help-block">Confirm your obvious password</span>
                </div>
                <div id="password-match-error" *ngIf="!passwordForm.valid">
                    <p class="alert alert-danger">Passwords do not match</p>
                </div>
            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="control-label" for="birthYear">Birth year</label>
            <div class="">
                <input id="birthYear" name="birthYear" type="number" placeholder="birthyear" class="form-control input-md" required="true" formControlName="birthYear">
                <span class="help-block">Birthyear</span>
            </div>
        </div>

        <!-- Button -->
        <div class="form-group">
            <label class="control-label" for="submit">Let’s go!</label>
            <div class="">
                <button id="submit" name="submit" type="submit" class="btn btn-primary">Let’s go!</button>
            </div>
        </div>

    </fieldset>
</form>